/* TopNavBar.css - Neumorphism Dark Theme */

.top-navbar {
  background-color: #333; /* Dark background */
  box-shadow: inset 2px 2px 2px #2b2b2b,
    /* Inner shadow for inset effect */ inset -2px -2px 2px #3b3b3b; /* Softening edges for depth */
  padding: 9px 20px;
  color: #ffffff;
  position: sticky;
  top: 0;
  border-bottom-left-radius: 15px; /* Smoothed corners */
  border-bottom-right-radius: 15px;
}

.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav-wallet-heading {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px 2px black; /* Subtle text shadow for depth */
}

.top-nav-wallet-heading-1 {
  color: #d29335; /* Keeping the color for differentiation */
}

.top-nav-wallet-heading-2 {
  color: #b54ef0; /* Keeping the color for differentiation */
}
