/* Dashboard.css */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #101010;
  color: #ececec;
}

.name {
  font-size: 42px;
  margin: 10px 0;
  font-family: "Roboto";
  font-style: normal;
  line-height: 143.69%;
  color: #ececec;
}
.welcome {
  display: flex;
  margin-top: 12px;
}
.gradient-box {
  display: flex;
  margin: 25px;
}
#rectangle-48 {
  /* position: absolute; */
  width: 309px;
  height: 63px;
  left: 93px;
  top: 233px;
  background: linear-gradient(
    269.1deg,
    #000000 0%,
    #000000 30%,
    #e350cc 30%,
    #b02aff 50%,
    #ff04d7 73.46%
  );
  border: 1px solid #b12cff;
}

.elite {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
}
.eliteHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 83.69%;
  color: #b12cff;
}
.eliteDetails {
  color: #de9c3a;
}
.space-container {
  display: flex;
}
.space {
  text-align: left;
  width: 21rem;
  height: 10rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  /* background-color: #4b4444; */
}
.space-box {
  width: 11rem;
  margin: 6px;
  height: 6.5rem;
  align-items: center;
}
.bg1 {
  background-color: #0a18a8;
}
.bg2 {
  background-color: #3a46c1;
}
.spaceHeading {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  padding: 5px;
}
.spaceimage {
  margin-left: 10px;
  width: 5rem;
  flex-direction: row;
}
/* Rectangle 50 */
.ranking-title {
  font-size: 24px;
  text-align: left;
  margin-top: 1.5rem;
  margin-left: 4rem;
  /* margin-bottom: 3px; */
}
divForRankingTileAndBox {
  display: block;
}
.ranking-box {
  display: flex;
  /* margin-top: 2rem; */
  flex-direction: column;
  width: 28rem;
  margin-top: -5px;
  margin-left: 3rem;
  height: 24rem;
  padding: 1rem;
  text-align: center;
  /* border: 1px solid #B12CFF; */
}
.photoInsideRankingBox {
  width: 1px;
  height: 2px;
  margin: 2px;
  /* background-color: black; */
}

.ranking-box table td {
  padding: 12px;
  margin: 2px;
}

.ranking-box table th {
  padding: 12px;
}
.ranking-box tr {
  border: 1px solid #8b2992;
  padding: 8px;
  background: #9273a4;
  color: #000000;
}
.users-profile {
  width: 55rem;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 17rem;
  margin-right: 1rem;
}
.more-details {
  width: 1%;
  height: 100%;
}
.more-details h3 {
  display: inline-block;
}

.users-photo {
  width: 15rem;
  height: 270px;
  /* object-fit: cover; */
  margin-right: 20px;
  background-color: #000000;
}
.users-details {
  width: 80%;
  height: 11rem;
  margin-bottom: 2rem;
  background-color: #101010;
  text-align: left;
}
.users-name {
  font-size: 2rem;
  /* margin: 10px 0; */
  text-align: left;
  margin-left: 1rem;
  font-weight: 200px;
}
.users-email {
  color: #e6e2e2;
  text-align: left;
  margin-left: 1rem;
}
.horizontalLineseparator {
  width: 37rem;
  height: 3px;
  margin-bottom: 20px;
  background-color: #777;
}
.users-description {
  font-size: 16px;
  color: #777;
  /* width: 30%; */
  height: 12rem;
}
.separatorFordescriptionAndToken {
  display: flex;
  height: 11rem;
}
.detail-trophy {
  height: 12rem;

  padding: 12px;
}
.trophy-title {
  margin-top: -26px;
  margin-bottom: 5px;
  align-items: right;
  font-size: 1.5rem;
  font-weight: 100px;
}
.trophy-container {
  align-items: right;
  /* margin-left: 12rem;  */
  display: flex;
}
.trophy {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
  background-color: #000000;
}

.users-rankings-and-achievements {
  display: flex;
  width: 100%;
}

.users-rankings {
  width: 40%;
  text-align: left;
  margin: 20px;
}

.achievements {
  width: 70%;
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}
.achieveContainer {
  display: flex;
}

.innerCont {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 8.6rem;
  height: 3.2rem;
  background: linear-gradient(
      260.76deg,
      #fbb040 0%,
      #f8b653 0.01%,
      #c27b11 39.34%,
      #f5bb63 77.07%
    ),
    linear-gradient(0deg, #101010, #101010);
}
.b1 {
  margin: 12px;
  background-color: #000000;
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 12px;
}
.btext {
  font-size: 11px;
  color: #000000;
  margin-right: 8px;
  font-weight: 700;
}

.section-title {
  font-size: 24px;
}

.ranking-entry,
.achievement-entry {
  font-size: 18px;
  margin-bottom: 10px;
}

.token-wallet {
  display: flex;
  width: 57rem;
  margin: 2rem;
  /* position: relative; Add this line */
}

.wallet {
  width: 60rem;
  height: 13rem;
  position: relative; /* If you need relative positioning */
  z-index: 1;
  display: flex;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}

.wallet h1 {
  background-color: #000000;
  z-index: 1;
}

.tokentable {
  width: 100%;
  text-align: left;
  margin-right: 3rem;
  height: 13rem;
  padding: 20px;
  border: 1px solid #b12cff;
}

.tokentable table td {
  padding: 2px;

  text-align: center;
}
.tokentable table th {
  padding: 9px;
}

.wallet {
  width: 60rem;
  height: 13rem;
  background-color: #000000;
}

.signOutButton {
  background-color: rgb(215, 55, 55);
  color: rgb(252, 251, 251);
  padding: 5px 30px;
  margin-left: 30px;
  border-radius: 8px;
  margin-right: 0px;
  cursor: pointer;
  border: none;
  margin-bottom: 3rem;
}

/* Dashboard.css */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: #101010;
    color: #ECECEC; */
}

.name {
  font-size: 44px;
  margin: 10px 0;
  font-family: "Protest Strike";
  /* font-weight:600; */
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 143.69%;
  color: #ececec;
}
.welcome {
  display: flex;
}
.gradient-box {
  display: flex;
  margin: 25px;
}
#rectangle-48 {
  width: 309px;
  height: 63px;
  left: 93px;
  top: 233px;
  background: linear-gradient(
    269.1deg,
    #000000 0%,
    #000000 30%,
    #e350cc 30%,
    #b02aff 50%,
    #ff04d7 73.46%
  );
  border: 1px solid #b12cff;
}

.elite {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
}
.eliteHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 83.69%;
  color: #b12cff;
}
.eliteDetails {
  color: #de9c3a;
}
.space-container {
  display: flex;
}
.space {
  text-align: left;
  width: 21rem;
  height: 10rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
}
.space-box {
  width: 11rem;
  margin: 6px;
  height: 6.5rem;
  align-items: center;
}
.bg1 {
  background-color: #0a18a8;
}
.bg2 {
  background-color: #3a46c1;
}
.spaceHeading {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  padding: 5px;
}
.spaceimage {
  margin-left: 10px;
  width: 5rem;
  flex-direction: row;
}
/* Rectangle 50 */
.ranking-title {
  font-size: 24px;
  text-align: left;
  margin-top: 1.5rem;
  margin-left: 3.5rem;
  font-weight: bold;
  color: #e6e2e2;
  /* margin-bottom: 3px; */
}
divForRankingTileAndBox {
  display: block;
}
.ranking-box {
  display: flex;
  /* margin-top: 2rem; */
  flex-direction: column;
  width: 28rem;
  margin-top: -5px;
  margin-left: 3rem;
  height: 24rem;
  padding: 1rem;
  text-align: center;
  /* border: 1px solid #B12CFF; */
}
.photoInsideRankingBox {
  width: 1px;
  height: 2px;
  margin: 2px;
  /* background-color: black; */
}

.ranking-box table td {
  padding: 12px;
  margin: 2px;
}

.ranking-box table th {
  padding: 12px;
}
.ranking-box tr {
  border: 1px solid #8b2992;
  padding: 8px;
  background: #9273a4;
  color: #000000;
}
.users-profile {
  width: 55rem;
  display: flex;
  margin-top: 2rem;
  height: 17rem;
  margin-right: 2rem;
}
.users-photo {
  width: 14rem;
  height: 260px;
  object-fit: cover;
  margin-right: 30px;
  border: 2px solid black;
  background-color: #9273a4;
}
.more-details {
  width: 1%;
  font-family: "Protest Strike";
  height: 100%;
}
.more-details h3 {
  font-family: "Protest Strike";
  display: inline-block;
}

.users-name {
  font-family: "Protest Strike";
  font-size: 2rem;
  margin: 10px 0;
  text-align: left;
  margin-left: 1rem;
  font-weight: 200px;
  color: #e6e2e2;
}
.users-email {
  color: #e6e2e2;
  text-align: left;
  margin-left: 1rem;
}
.horizontalLineseparator {
  width: 37rem;
  height: 3px;
  margin-bottom: 20px;
  background-color: #777;
}
.users-description {
  font-family: "Protest Strike";
  font-size: 26px;
  color: #777;
  margin-left: 1.3rem;
  height: 12rem;
}
.separatorFordescriptionAndToken {
  display: flex;
  height: 11rem;
}
.detail-trophy {
  height: 12rem;

  padding: 12px;
}
.trophy-title {
  margin-top: -26px;
  margin-bottom: 5px;
  align-items: right;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e6e2e2;
}
.trophy-container {
  align-items: right;
  /* margin-left: 12rem;  */
  display: flex;
}
.trophy {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
  background-color: #000000;
}

.users-rankings-and-achievements {
  display: flex;
  width: 100%;
}

.users-rankings {
  width: 40%;
  text-align: left;
  margin: 20px;
}

.achievements {
  width: 70%;
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}
.achieveContainer {
  display: flex;
}

.innerCont {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 8.6rem;
  height: 3.2rem;
  background: linear-gradient(
      260.76deg,
      #fbb040 0%,
      #f8b653 0.01%,
      #c27b11 39.34%,
      #f5bb63 77.07%
    ),
    linear-gradient(0deg, #101010, #101010);
}
.b1 {
  margin: 12px;
  background-color: #000000;
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 12px;
}
.btext {
  font-size: 11px;
  color: #000000;
  margin-right: 8px;
  font-weight: 700;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #e6e2e2;
}

.ranking-entry,
.achievement-entry {
  font-size: 18px;
  margin-bottom: 10px;
}

.token-wallet {
  display: flex;
  width: 57rem;
  margin: 2rem;
  /* position: relative; Add this line */
}

.wallet {
  width: 60rem;
  height: 13rem;
  position: relative; /* If you need relative positioning */

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9273a4;
}

.wallet h1 {
  background-color: #dd620b;
  z-index: 1;
}

.tokentable {
  width: 100%;
  text-align: left;
  margin-right: 3rem;
  height: 13rem;
  padding: 20px;
  border: 1px solid #b12cff;
}

.tokentable table td {
  padding: 2px;

  text-align: center;
}
.tokentable table th {
  padding: 9px;
}

.signOutButton {
  background-color: rgb(215, 55, 55);
  color: rgb(252, 251, 251);
  padding: 5px 30px;
  margin-left: 30px;
  border-radius: 8px;
  margin-right: 0px;
  cursor: pointer;
  border: none;
  margin-bottom: 3rem;
}
