/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  /* background: linear-gradient(#141e30, #243b55); */
  background-color: #141e30;
}

/* Login Box Styles */
.login-box {
  position: absolute;
  top: 23rem;
  left: 50%;
  width: 400px;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.loginboxH2 {
  margin: 0 0 10px;
  padding: 0;
  color: #000000;
}

/* Submit Button Styles */
/* login.css */
.loginButtonStyle {
  letter-spacing: 2px;
  width: 230px;
  height: 40px;
  color: #fff;
  margin-left: 2.4rem;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  background-color: #1473e6;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.loginButtonStyle:hover {
  /* background: #3b11c54a; */
  color: black;
  letter-spacing: 4px;
  /* -webkit-transform: scale(1); */
  /* transform: scale(1.2); */
}

/* Responsive styles */
@media (max-width: 768px) {
  .login-box {
    width: 90%;
    padding: 20px;
    top: 22rem;
  }
}
