.procontainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.proformContainer {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  color: black;
}

.prophotoContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.prophotoPreview {
  display: block;
  width: 100%;
  max-width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-top: 10px;
  align-self: center;
}

.prophotoContainer input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

.proinputField,
.protextareaField,
.proselectField {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}

.proselectField {
  height: 80px;
}

.probutton,
.proSignOutButton {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 2px 2px;
}

.probutton:hover,
.proSignOutButton:hover {
  background-color: #0056b3;
}
