/* Post.css */
:root{
  --backgroundCheck: #7349ff ;
  --other-darkBackground: #dd620b ;
  --button-hovers: #ffb811;
  --hvcolor: #0c0c0b;
}
.post-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #fff;
  background-color: #232f3e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.post-container button {
  background-color: #dd620b;
  color: #fff;
  padding: 12px 20px; /* Slightly increased padding for a better touch */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Ensuring consistent font size */
  transition: background-color 0.3s ease-in-out; /* Adding a smooth transition effect */
}

.post-container button:hover {
  background-color: #45a049;
}
